<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% block headers %}
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'home/css/jquery-ui.min.css' %}">
        <script src="{% static 'home/js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'home/js/touchpunch.js' %}"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" href="{% static 'home/images/logo/web.png' %}">
        <script src="{% static 'home/js/base.js' %}"></script>
        <script src="{% static 'home/js/highcharts.js' %}"></script>
        <script src="{% static 'home/js/moment.js' %}"></script>
        <script src="{% static 'errands/js/std.js' %}"></script>
    {% endblock %}
    {% block extra_headers %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% block script %}{% endblock %}
    {% block style %}{% endblock %}
    <script>
        $(document).ready(function () {
            // Materialize CSS
            $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 240
                    edge: 'right', // Choose the    horizontal origin
                    closeOnClick: false, // Closes side-nav on <a> clicks,
                    draggable: true // Choose whether you can drag to open on touch screens
                }
            );
            $(".modal").modal({
                in_duration: 300, // Transition in duration
                out_duration: 200 // Transition out duration
            });
        });
    </script>
</head>
<body>

<ul id="nav-bar" class="side-nav">
    <li>
        <div class="userView">
            <div class="background">
                <img src="https://media.giphy.com/media/l3zoKeX8bMG5sMP4s/giphy.gif" class="bg">
            </div>
            <a href="#"><img class="circle" src="{% static 'home/images/my.jpg' %}" alt="icon"></a>
            <a href="#"><span class="white-text name">Yashasvi Sriram</span></a>
            <a href="#"><span class="white-text email">yash.3997@gmail.com</span></a>
        </div>
    </li>
    <li><a href="{% url 'home:home' %}" class="waves-effect"><i class="material-icons">home</i>Home</a></li>
    <li><a href="{% url 'errands:all' %}" class="waves-effect"><i class="material-icons">receipt</i>Errands</a></li>
    <li><a href="{% url 'time_table:scrolling_stubs' %}" class="waves-effect"><i class="material-icons">view_week</i>TimeTable</a>
    <li><a href="{% url 'cli:cli' %}" class="waves-effect"><i class="material-icons">settings_ethernet</i>CLI</a>
    <li><a href="{% url 'home:logout' %}" class="waves-effect"><i class="material-icons">verified_user</i>Safe Mode</a>
</ul>

<a href="#"
   id="nav-bar-fab"
   data-activates="nav-bar"
   class="btn-floating btn-large button-collapse z-depth-4"
   style="position: fixed;bottom: 0;left: 0;margin: 20px;z-index: 200">
    <i class="material-icons">library_books</i>
</a>


{% block body %}{% endblock %}
</body>
</html>