{% extends 'home/__base__.html' %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="row" style="position: relative;top: 25vh;">
        <div class="col l0 m0 s0"></div>
        <div class="col l12 m12 s12 center align waves-effect">
            <div class="card-content">
            <h1>Escape</h1>
            <div class="flow-text grey-text">(Your)</div>
            <h2>Errands</h2>
            </div>
        </div>
        <div class="col l0 m0 s0"></div>
    </div>
{% endblock %}