{% extends 'errands/__base__.html' %}
{% block title %}Login{% endblock %}
{% block body %}
    <div class="row">
        <div class="col l3 m0 s0"></div>
        <div class="col l6 m12 s12 center-align">
            <div style="position: relative;top: 10vh;">
                <h3>Who are you?</h3>
                <p class="blue-text flow-text">The content you requested is private. Please Identify Yourself</p>
                <form action="{% url 'home:login' %}" method="post">
                    {% csrf_token %}
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input name="Identity" type="password" placeholder="Identity">
                    </div>
                </form>
            </div>
        </div>
        <div class="col l3 m0 s0"></div>
    </div>
{% endblock %}