{% extends 'webinterface/base.html' %}
{% block title %}Goals at a Glance{% endblock %}
{% load static %}
{% block extra_headers %}
    <script src="{% static 'webinterface/vis.min.js' %}"></script>
    <script src="{% static 'webinterface/cookies.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'webinterface/vis.min.css' %}"/>
{% endblock %}
{% block css %}
    <style>
        #goal-search-div {
            position: fixed;
            top: 0;
            left: 0;
            width: 25%;
            z-index: 999;
            margin: 20px;
            background-color: white;
            border-left: 2px solid black;
            border-right: 2px solid black;
            font-family: monospace;
            font-size: large;
            font-weight: bold;
        }

        .search-result:hover {
            background: rgba(63, 63, 63, 0.10);
        }

        #goal-search-input {
            font-size: larger;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            outline: none;
            margin-bottom: 0;
            width: 100%;
            box-shadow: none;
        }

        #goal-search-clear-btn {
            position: absolute;
            right: 5px;
            top: 5px;
            padding-left: 10px;
            padding-right: 10px;
        }

        #goal-results-div {
            height: 90vh;
            overflow-y: auto;
            display: none;
        }

        #goal-canvas-div {
            height: 100vh;
        }

        #goal-canvas-clear-btn, #new-goal-modal-toggle-btn {
            position: fixed;
            top: 20px;
            right: 20px;
        }

        #new-goal-modal-toggle-btn {
            top: 80px;
        }

        #new-goal-modal {
            position: fixed;
            bottom: 0;
            right: 0;
            width: 25%;
            background-color: white;
            border: 2px solid black;
            padding: 20px;
            margin: 20px;
            z-index: 1000;
            display: none;
            font-size: large;
            font-weight: bold;
        }

        #new-goal-description {
            border: none;
            border-bottom: 1px solid black;
            height: 200px;
        }

        #new-goal-description:focus {
            border: 1px solid black;
            outline: none;
        }

        #new-goal-deadline {
            outline: none;
            box-shadow: none;
            border-bottom: 1px solid black;
        }

        #new-goal-modal-hide-btn {
            padding: 0;
            position: absolute;
            top: 5px;
            right: 10px;
        }

        #new-goal-modal-submit-btn {
            padding: 0;
        }

    </style>
{% endblock %}
{% block body %}
    <script>
        var SocietyManager = {
            society: {
                families: [],
                push: function (family) {
                    this.families.push(family);
                    SocietyRenderer.addNodes(family);
                },
                remove: function (familyIndex) {
                    var removedFamilies = this.families.splice(familyIndex, 1);
                    SocietyRenderer.removeNodes(removedFamilies[0]);
                },
                toggleIsAchieved: function (id) {
                    id = Number(id);
                    for (var i = 0; i < this.families.length; ++i) {
                        var ithFamily = this.families[i];
                        for (var j = 0; j < ithFamily.length; ++j) {
                            var jthMember = ithFamily[j];
                            if (jthMember.id === id) {
                                jthMember.is_achieved = !jthMember.is_achieved;
                                SocietyRenderer.toggleColorOfNodeInGraph(id, jthMember.is_achieved);
                                return;
                            }
                        }
                    }
                },
                set: function (family) {
                    this.families = [family];
                    this.resetGraph();
                },
                clear: function () {
                    this.families = [];
                    this.resetGraph();
                },
                resetGraph: function () {
                    var graph = SocietyRenderer.reRender(this.families);
                    // Set Listeners
                    graph.on('doubleClick', function (params) {
                        // on empty space
                        if (params.nodes.length === 0 && params.edges.length === 0) {
                            $('#new-goal-modal').toggle();
                        }
                    });
                    graph.on('selectNode', function (params) {
                        if (params.nodes.length === 1) {
                            SocietyManager.toggleAchievement(params.nodes[0]);
                        }
                    });
                }
            },
            isInSociety: function (id) {
                id = Number(id);
                for (var i = 0; i < this.society.families.length; ++i) {
                    var ithFamily = this.society.families[i];
                    for (var j = 0; j < ithFamily.length; ++j) {
                        var jthMember = ithFamily[j];
                        if (jthMember.id === id) {
                            return true;
                        }
                    }
                }
                return false;
            },
            addFamilyOf: function (id) {
                if (this.isInSociety(id)) {
                    return false;
                } else {
                    var society = this.society;
                    {# read and add its family #}
                    $.ajax({
                        {# Dirty hack #}
                        url: "{% url 'restapi:goal_read_family' 1729 %}".replace('1729', id),
                        method: "GET",
                        success: function (response) {
                            var json_response = JSON.parse(response);
                            if (json_response.status === 0) {
                                var family = json_response.body;
                                society.push(family);
                            } else if (json_response.status === -1) {
                                alert(json_response.message);
                            }
                        },
                        error: function (response) {
                            alert('Error reading family of ' + id);
                        }
                    });
                }
            },
            removeFamilyOf: function (id) {
                var indexOfFamilyToBeRemoved = -1;
                for (var i = 0; i < this.society.families.length; ++i) {
                    var ithFamily = this.society.families[i];
                    for (var j = 0; j < ithFamily.length; ++j) {
                        var jthMember = ithFamily[j];
                        if (jthMember.id === id) {
                            indexOfFamilyToBeRemoved = i;
                            break;
                        }
                    }
                    if (indexOfFamilyToBeRemoved > -1) {
                        break;
                    }
                }
                if (indexOfFamilyToBeRemoved > -1) {
                    this.society.remove(indexOfFamilyToBeRemoved);
                    return true;
                } else {
                    return false;
                }
            },
            setFamilyOf: function (id) {
                var society = this.society;
                {# read and add its family #}
                $.ajax({
                    {# Dirty hack #}
                    url: "{% url 'restapi:goal_read_family' 1729 %}".replace('1729', id),
                    method: "GET",
                    success: function (response) {
                        var json_response = JSON.parse(response);
                        if (json_response.status === 0) {
                            var family = json_response.body;
                            society.set(family);
                        } else if (json_response.status === -1) {
                            alert(json_response.message);
                        }
                    },
                    error: function (response) {
                        alert('Error reading family of ' + id);
                    }
                });
            },
            clearSociety: function () {
                this.society.clear();
            },
            toggleAchievement: function (id) {
                $.ajax({
                    {# Dirty Hack #}
                    url: "{% url 'restapi:goal_toggle_is_achieved' 1729 %}".replace('1729', id),
                    method: "GET",
                    success: function (response) {
                        var json_response = JSON.parse(response);
                        if (json_response.status === 0) {
                            SocietyManager.society.toggleIsAchieved(id);
                        } else if (json_response.status === -1) {
                            alert(json_response.message);
                        }
                    },
                    error: function (response) {
                        alert('Error toggling completion of goal');
                    }
                });
            },
            // todo : create deadline parser and description breakdown
            createGoal: function (description, deadline) {
                var csrfSafeMethod = function (method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                };
                var parseDeadline = function (deadline) {
                    deadline = deadline === '' ? null : deadline;
                    return deadline;
                };
                var breakDownDescription = function (description) {
                    return description;
                };
                var jsonStringedData = JSON.stringify({
                    description: breakDownDescription(description),
                    deadline: parseDeadline(deadline)
                });
                $.ajax({
                    url: "{% url 'restapi:goal_create' %}",
                    method: 'POST',
                    data: {
                        data: jsonStringedData
                    },
                    success: function (response) {
                        var json_response = JSON.parse(response);
                        if (json_response.status === 0) {
                            SocietyManager.society.push([json_response.body]);
                        } else if (json_response.status === -1) {
                            alert(json_response.message);
                        }
                    },
                    error: function (response) {
                        alert('Error creating goal');
                    },
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
                        }
                    }
                });
            },
            init: function () {
                this.society.resetGraph();
            }
        };
        var SocietyRenderer = {
            containerId: 'goal-canvas-div',
            edgesDataSet: undefined,
            nodesDataSet: undefined,
            getNodeArray: function (families) {
                var array = [];
                for (var i = 0; i < families.length; ++i) {
                    var ithFamily = families[i];
                    for (var j = 0; j < ithFamily.length; ++j) {
                        var jthMember = ithFamily[j];
                        var color = {};
                        if (jthMember.is_achieved === true) {
                            color.background = 'lightgreen';
                            color.border = 'green';
                        } else {
                            color.background = 'pink';
                            color.border = 'purple';
                        }
                        array.push({
                            id: jthMember.id,
                            color: color,
                            label: jthMember.description
                        });
                    }
                }
                return array;
            },
            getEdgeArray: function (families) {
                var array = [];
                for (var i = 0; i < families.length; ++i) {
                    var ithFamily = families[i];
                    for (var j = 0; j < ithFamily.length; ++j) {
                        var jthMember = ithFamily[j];
                        for (var k = 0; k < jthMember.child_ids.length; ++k) {
                            var child_id = jthMember.child_ids[k];
                            array.push({
                                from: jthMember.id,
                                to: child_id,
                                arrows: 'to'
                            });
                        }
                    }
                }
                return array;
            },
            reRender: function (families) {
                var emptyContainer = function () {
                    $('#' + SocietyRenderer.containerId).empty();
                };
                var render = function (families) {
                    var canvasDiv = document.getElementById(SocietyRenderer.containerId);
                    SocietyRenderer.nodesDataSet = new vis.DataSet(SocietyRenderer.getNodeArray(families));
                    SocietyRenderer.edgesDataSet = new vis.DataSet(SocietyRenderer.getEdgeArray(families));
                    var data = {
                        nodes: SocietyRenderer.nodesDataSet,
                        edges: SocietyRenderer.edgesDataSet
                    };
                    var options = {
                        nodes: {
                            shape: 'dot',
                            borderWidth: 5,
                            size: 10,
                            font: {size: 15, color: 'black', background: 'white', face: 'Roboto'}
                        },
                        layout: {
                            hierarchical: {
                                sortMethod: "directed"
                            }
                        },
                        interaction: {
                            hover: true
                        },
                    };
                    return new vis.Network(canvasDiv, data, options);
                };
                emptyContainer();
                return render(families);
            },
            addNodes: function (family) {
                this.nodesDataSet.add(this.getNodeArray([family]));
                this.edgesDataSet.add(this.getEdgeArray([family]));
            },
            removeNodes: function (family) {
                this.nodesDataSet.remove(this.getNodeArray([family]));
            },
            toggleColorOfNodeInGraph: function (id, is_achieved) {
                var color = {};
                if (is_achieved === true) {
                    color.background = 'lightgreen';
                    color.border = 'green';
                } else {
                    color.background = 'pink';
                    color.border = 'purple';
                }
                this.nodesDataSet.update([{id: id, color: color}]);
            }
        };
        var GoalSearchManager = {
            searchInputId: 'goal-search-input',
            resultsTableId: 'goal-results-table',
            resultsDivId: 'goal-results-div',
            initService: function () {
                $('#' + GoalSearchManager.searchInputId).keydown(function (e) {
                    switch (e.keyCode) {
                        // Enter Key
                        case 13:
                            $.ajax({
                                url: "{% url 'restapi:goal_read_regex' %}",
                                method: "GET",
                                data: {search: $(this).val()},
                                success: function (response) {
                                    var jsonResponse = JSON.parse(response);
                                    if (jsonResponse.status === 0) {
                                        GoalSearchManager.results.setTable(jsonResponse.body);
                                    } else if (jsonResponse.status === -1) {
                                        alert(jsonResponse.message);
                                    }
                                },
                                error: function (response) {
                                    alert('Error searching for goals');
                                }
                            });
                            break;
                        case 27:
                            GoalSearchManager.reset();
                            break;
                        default:
                            break;
                    }
                });
            },
            reset: function () {
                $('#' + GoalSearchManager.resultsTableId).empty();
                $('#' + GoalSearchManager.resultsDivId).hide();
                $('#' + GoalSearchManager.searchInputId).val('');
            },
            results: {
                setTable: function (rows) {
                    var resultsTable = $('#' + GoalSearchManager.resultsTableId);
                    $(resultsTable).empty();
                    if (rows.length === 0) {
                        $(resultsTable).append('<tr class="red-text"><td>No matching goals</td></tr>');
                    } else {
                        for (var i = 0; i < rows.length; ++i) {
                            $(resultsTable).append(this.getHTMLRow(
                                rows[i].description,
                                rows[i].deadline,
                                rows[i].is_achieved,
                                rows[i].id
                            ));
                        }
                    }
                    $('#' + GoalSearchManager.resultsDivId).show();
                },
                getHTMLRow: function (description, deadline, is_achieved, id) {
                    var IS_ACHIEVED_TRUE_ICON = "done";
                    var IS_ACHIEVED_FALSE_ICON = "crop_square";

                    description = description === "" ? "@Empty" : description;
                    deadline = deadline === null ? "@Free" : deadline;
                    var is_achieved_res = '<i class="material-icons orange-text">' + IS_ACHIEVED_FALSE_ICON + '</i>';
                    if (is_achieved === true) {
                        is_achieved_res = '<i class="material-icons green-text">' + IS_ACHIEVED_TRUE_ICON + '</i>';
                    }

                    return '<tr id="' + id + '" draggable="true" '
                        + 'ondragstart="function transferId(e) {e.dataTransfer.setData(\'id\', e.target.id);} transferId(event)" '
                        + 'onclick="function click(id) {SocietyManager.setFamilyOf(id);} click(this.id)"'
                        + 'class="search-result">'
                        + '<td class="description">' + description + '</td>'
                        + '<td class="deadline red-text">' + deadline + '</td>'
                        + '<td class="is-achieved">' + is_achieved_res + '</td>'
                        + '</tr>'
                }
            }
        };
    </script>

    <script>
        $(document).ready(function () {
            GoalSearchManager.initService();
            SocietyManager.init();
        });
    </script>
    <div class="container-fluid">
        <div id="goal-search-div" class="z-depth-1">
            <input id="goal-search-input" autofocus title="Search using regex">
            <button id="goal-search-clear-btn"
                    class="btn z-depth-0 black-text white"
                    title="clear"
                    onclick="GoalSearchManager.reset()">
                <i class="material-icons">clear</i></button>
            <div id="goal-results-div">
                <table id="goal-results-table"></table>
            </div>
        </div>
        <div id="goal-canvas-div"
             ondrop="function drop(e) {var id = e.dataTransfer.getData('id');SocietyManager.addFamilyOf(id);}drop(event)"
             ondragover="function allowDrop(e) {e.preventDefault();}allowDrop(event)"></div>
        <button id="goal-canvas-clear-btn"
                class="btn-floating black z-depth-0"
                title="Clear canvas"
                onclick="function clear() {SocietyManager.clearSociety()}clear()">
            <i class="material-icons">replay</i></button>
        <button id="new-goal-modal-toggle-btn"
                class="btn-floating purple z-depth-0"
                title="Create goal"
                onclick="function toggleNewGoalModal() {$('#new-goal-modal').toggle();}toggleNewGoalModal()">
            <i class="material-icons">add</i></button>
        <div id="new-goal-modal">
            <button id="new-goal-modal-hide-btn"
                    class="btn white black-text z-depth-0"
                    title="Submit"
                    onclick="function hideNewGoalModal() {$('#new-goal-modal').hide();}hideNewGoalModal()">
                <i class="material-icons">close</i></button>
            <label for="new-goal-description">Description</label><textarea id="new-goal-description"></textarea>
            <label for="new-goal-deadline">Deadline</label><input id="new-goal-deadline">
            <button id="new-goal-modal-submit-btn"
                    class="btn btn-large white black-text z-depth-0"
                    title="Submit"
                    onclick="function submit() {
                        var descriptionInput = $('#new-goal-description');
                        var deadlineInput = $('#new-goal-deadline');
                        var description = $(descriptionInput).val();
                        var deadline = $(deadlineInput).val();
                        SocietyManager.createGoal(description, deadline);
                        $(descriptionInput).val('');
                        $(deadlineInput).val('');
                        $('#new-goal-modal').hide();
                    }submit()">
                <i class="material-icons">send</i></button>
        </div>
    </div>
{% endblock %}