{% extends 'webinterface/base.html' %}
{% block title %}Goals at a Glance{% endblock %}
{% load static %}
{% block extra_headers %}
    <script src="{% static 'webinterface/vis.min.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'webinterface/vis.min.css' %}"/>
{% endblock %}
{% block css %}
    <style>
        #goal-search-div {
            position: fixed;
            top: 0;
            left: 0;
            width: 25%;
            z-index: 999;
            margin: 20px;
            background-color: white;
            border-left: 2px solid black;
            border-right: 2px solid black;
            font-family: monospace;
            font-size: large;
            font-weight: bold;
        }

        .description:hover {
            background: rgba(63, 63, 63, 0.10);
        }

        #goal-search-input {
            font-size: larger;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            outline: none;
            margin-bottom: 0;
            width: 100%;
            box-shadow: none;
        }

        #goal-search-clear-btn {
            position: absolute;
            right: 5px;
            top: 5px;
            padding-left: 10px;
            padding-right: 10px;
        }

        #goal-canvas-div {
            height: 100vh;
        }

        #goal-canvas-clear-btn {
            position: fixed;
            top: 20px;
            right: 20px;
            width: 5%;
            padding: 0;
        }

    </style>
{% endblock %}
{% block body %}
    <script>
        var SocietyManager = {
            society: {
                families: [],
                push: function (family) {
                    this.families.push(family);
                    this.societyChangeCallback();
                },
                remove: function (familyIndex) {
                    this.families.splice(familyIndex, 1);
                    this.societyChangeCallback();
                },
                set: function (family) {
                    this.families = [family];
                    this.societyChangeCallback();
                },
                societyChangeCallback: function () {
                    SocietyRenderer.reRender(this.families);
                }
            },
            isInSociety: function (id) {
                id = Number(id);
                for (var i = 0; i < this.society.families.length; ++i) {
                    var ithFamily = this.society.families[i];
                    for (var j = 0; j < ithFamily.length; ++j) {
                        var jthMember = ithFamily[j];
                        if (jthMember.id === id) {
                            return true;
                        }
                    }
                }
                return false;
            },
            addFamilyOf: function (id) {
                if (this.isInSociety(id)) {
                    return false;
                } else {
                    var society = this.society;
                    {# read and add its family #}
                    $.ajax({
                        {# Dirty hack #}
                        url: "{% url 'restapi:goal_read_family' 1729 %}".replace('1729', id),
                        method: "GET",
                        success: function (response) {
                            var json_response = JSON.parse(response);
                            if (json_response.status === 0) {
                                var family = json_response.body;
                                society.push(family);
                            } else if (json_response.status === -1) {
                                alert(json_response.message);
                            }
                        },
                        error: function (response) {
                            alert('Error reading family of ' + id);
                        }
                    });
                }
            },
            removeFamilyOf: function (id) {
                var indexOfFamilyToBeRemoved = -1;
                for (var i = 0; i < this.society.families.length; ++i) {
                    var ithFamily = this.society.families[i];
                    for (var j = 0; j < ithFamily.length; ++j) {
                        var jthMember = ithFamily[j];
                        if (jthMember.id === id) {
                            indexOfFamilyToBeRemoved = i;
                            break;
                        }
                    }
                    if (indexOfFamilyToBeRemoved > -1) {
                        break;
                    }
                }
                if (indexOfFamilyToBeRemoved > -1) {
                    this.society.remove(indexOfFamilyToBeRemoved);
                    return true;
                } else {
                    return false;
                }
            },
            setFamilyOf: function (id) {
                var society = this.society;
                {# read and add its family #}
                $.ajax({
                    {# Dirty hack #}
                    url: "{% url 'restapi:goal_read_family' 1729 %}".replace('1729', id),
                    method: "GET",
                    success: function (response) {
                        var json_response = JSON.parse(response);
                        if (json_response.status === 0) {
                            var family = json_response.body;
                            society.set(family);
                        } else if (json_response.status === -1) {
                            alert(json_response.message);
                        }
                    },
                    error: function (response) {
                        alert('Error reading family of ' + id);
                    }
                });
            }
        };
        var SocietyRenderer = {
            containerId: 'goal-canvas-div',
            reRender: function (families) {
                var emptyCanvasDiv = function () {
                    $('#' + SocietyRenderer.containerId).empty();
                };
                var render = function (families) {
                    var canvasDiv = document.getElementById(SocietyRenderer.containerId);
                    var nodes = getNodeSet(families);
                    var edges = getEdgeSet(families);
                    var data = {
                        nodes: nodes,
                        edges: edges
                    };
                    var options = {
                        nodes: {
                            shape: 'dot',
                            borderWidth: 5,
                            size: 10,
                            font: {size: 15, color: 'black', background: 'white', face: 'Roboto'}
                        },
                        layout: {
                            hierarchical: {
                                sortMethod: "directed"
                            }
                        },
                        interaction: {
                            keyboard: true,
                            hover: true
                        },
                    };
                    new vis.Network(canvasDiv, data, options);
                };
                var getNodeSet = function (families) {
                    var array = [];
                    for (var i = 0; i < families.length; ++i) {
                        var ithFamily = families[i];
                        for (var j = 0; j < ithFamily.length; ++j) {
                            var jthMember = ithFamily[j];
                            array.push({
                                id: jthMember.id,
                                color: {background: 'pink', border: 'purple'},
                                label: jthMember.description
                            });
                        }
                    }
                    return (array);
                };
                var getEdgeSet = function (families) {
                    var array = [];
                    for (var i = 0; i < families.length; ++i) {
                        var ithFamily = families[i];
                        for (var j = 0; j < ithFamily.length; ++j) {
                            var jthMember = ithFamily[j];
                            for (var k = 0; k < jthMember.child_ids.length; ++k) {
                                var child_id = jthMember.child_ids[k];
                                array.push({
                                    from: jthMember.id,
                                    to: child_id,
                                    arrows: 'to'
                                });
                            }
                        }
                    }
                    return (array);
                };

                emptyCanvasDiv();
                render(families);
            }
        };
        var GoalSearchManager = {
            searchInputId: 'goal-search-input',
            resultsTableId: 'goal-results-table',
            initService: function () {
                $('#' + GoalSearchManager.searchInputId).keydown(function (e) {
                    switch (e.keyCode) {
                        // Enter Key
                        case 13:
                            $.ajax({
                                url: "{% url 'restapi:goal_read_regex' %}",
                                method: "GET",
                                data: {search: $(this).val()},
                                success: function (response) {
                                    var jsonResponse = JSON.parse(response);
                                    if (jsonResponse.status === 0) {
                                        GoalSearchManager.results.setTable(jsonResponse.body);
                                    } else if (jsonResponse.status === -1) {
                                        alert(jsonResponse.message);
                                    }
                                },
                                error: function (response) {
                                    alert('Error searching for goals');
                                }
                            });
                            break;
                        case 27:
                            GoalSearchManager.reset();
                            break;
                        default:
                            break;
                    }
                });
            },
            reset: function () {
                $('#' + GoalSearchManager.resultsTableId).empty();
                $('#' + GoalSearchManager.searchInputId).val('');
            },
            results: {
                setTable: function (rows) {
                    var results = $('#goal-results-table');
                    $(results).empty();
                    if (rows.length === 0) {
                        $(results).append('<tr class="red-text"><td>No matching goals</td></tr>');
                    } else {
                        for (var i = 0; i < rows.length; ++i) {
                            $(results).append(this.getHTMLRow(
                                rows[i].description,
                                rows[i].deadline,
                                rows[i].is_achieved,
                                rows[i].id
                            ));
                        }
                    }
                },
                getHTMLRow: function (description, deadline, is_achieved, id) {
                    description = description === "" ? "NO DESCRIPTION" : description;
                    deadline = deadline === null ? "-" : deadline;
                    var is_achieved_res = '<i class="material-icons is-achieved">' + IS_ACHIEVED_FALSE_ICON + '</i>';
                    if (is_achieved === true) {
                        is_achieved_res = '<i class="material-icons is-achieved">' + IS_ACHIEVED_TRUE_ICON + '</i>';
                    }
                    return '<tr id="' + id + '" draggable="true" '
                        + 'ondragstart="function transferId(e) {e.dataTransfer.setData(\'id\', e.target.id);} transferId(event)" '
                        + 'onclick="function click(id) {SocietyManager.setFamilyOf(id);} click(this.id)"'
                        + 'class="search-result">'
                        + '<td class="description">' + description + '</td>'
                        + '<td>' + deadline + '</td>'
                        + '<td>' + is_achieved_res + '</td>'
                        + '</tr>'
                }
            }
        };
    </script>

    <script>
        var IS_ACHIEVED_TRUE_ICON = "done";
        var IS_ACHIEVED_FALSE_ICON = "crop_square";

        function toggleIsAchieved(icon) {
            if ($(icon).html() === IS_ACHIEVED_FALSE_ICON) {
                $(icon).html(IS_ACHIEVED_TRUE_ICON);
            } else {
                $(icon).html(IS_ACHIEVED_FALSE_ICON);
            }
        }

        $(document).ready(function () {
            GoalSearchManager.initService();
            $('#goal-results-table')
                .on('click', '.is-achieved', function () {
                    var id = $(this).parent().parent().attr('id');
                    var icon = $(this);
                    $.ajax({
                        {# Dirty Hack #}
                        url: "{% url 'restapi:goal_toggle_is_achieved' 1729 %}".replace('1729', id),
                        method: "GET",
                        success: function (response) {
                            var json_response = JSON.parse(response);
                            if (json_response.status === 0) {
                                toggleIsAchieved(icon);
                            } else if (json_response.status === -1) {
                                alert(json_response.message);
                            }
                        },
                        error: function (response) {
                            alert('Error');
                        }
                    });
                });
        });
    </script>
    <div class="container-fluid">
        <div id="goal-search-div" class="z-depth-1">
            <input id="goal-search-input" autofocus title="Search using regex">
            <button id="goal-search-clear-btn"
                    class="btn z-depth-0 black-text white"
                    title="clear"
                    onclick="GoalSearchManager.reset()">
                <i class="material-icons">clear</i></button>
            <table id="goal-results-table" class=""></table>
        </div>

        <div id="goal-canvas-div"
             ondrop="function drop(e) {var id = e.dataTransfer.getData('id');SocietyManager.addFamilyOf(id);}drop(event)"
             ondragover="function allowDrop(e) {e.preventDefault();}allowDrop(event)"></div>
        <button id="goal-canvas-clear-btn"
                class="btn red"
                title="Clear canvas"><i class="material-icons">clear</i></button>
    </div>
{% endblock %}