{% extends 'errands/__base__.html' %}
{% block title %}Statistics{% endblock %}
{% block style %}
    <style>
        #command_read {
            font-family: monospace;
            font-size: x-large;
            margin-bottom: 0;
            color: darkgreen;
        }

        #command_div {
            background-color: lightgrey;
        }
    </style>
{% endblock %}
{% block body %}
    <script>
        var $command_div;
        var $command_read;
        var $command_print;

        // fetch stubs
        function fetch_stubs_and(ranges, error_callback, success_callback) {
            //noinspection JSUnresolvedVariable
            $.ajax(
                {
                    url: '/errands/fetch_stubs/',
                    data: {ranges: JSON.stringify(ranges)},
                    error: error_callback,
                    success: success_callback
                }
            );
        }


        /** Distinct keywords for all commands */
        var COMMANDS = [
            {
                keyword: "load",
                match: function (command_input) {
                    try {
                        if (this.keyword == command_input.split(" ")[0]) {
                            this.action(command_input);
                            return true;
                        }
                    }
                    catch (e) {
                    }
                    return false;
                },
                action: function (command_input) {
                    fetch_stubs_and(
                        [
                            {
                                LB: moment().format(Std.std_dt_format), UB: moment().add(1, 'd').format(Std.std_dt_format)
                            }
                        ],
                        function () {
                            alert('Error');
                        },
                        function (result) {
                            console.log(result);
                            
                        }
                    );
                }
            }
        ];

        function REPL(event) {
            var command_input, command_index = -1;
            /** Read  ----------------------------------------------- */
            if (event.keyCode == 13) {
                command_input = $($command_read).val();
            }
            else return;
            /** Evaluate  ----------------------------------------------- */
            for (var i = 0; i < COMMANDS.length; ++i) {
                if (COMMANDS[i].match(command_input)) {
                    command_index = i;
                    break;
                }
            }
            /** Print  ----------------------------------------------- */
            // Command not available
            if (command_index == -1) {
                alert('Command not available')
            }
        }

        $(document).ready(function () {
            $command_div = $('#command_div');
            $command_read = $('#command_read');
            $command_print = $('#command_print');

            /**
             * REPL Listener
             * */
            $($command_read).keyup(function (event) {
                REPL(event);
            });
        });
    </script>

    <div class="container">
        <div class="row" id="command_div">
            <div class="input-field" style="margin: 0;">
                <span class="prefix">~$:</span>
                <input id="command_read"
                       type="text"
                       style="box-shadow:none;border: none;position: relative;left: 10px"
                       autofocus>
            </div>
        </div>
        <div class="row">
            <div class="">
                <div id="command_print" style="min-height: 60vh">

                </div>
            </div>
        </div>
    </div>
{% endblock %}