{% extends 'home/__base__.html' %}
{% block title %}{% if errand %}{{ errand.tag }}{% else %}New Errand{% endif %}{% endblock %}
{% block style %}
    <style>
        .remove-td:hover {
            background-color: rgba(255, 0, 0, 0.50);
        }

        #fixed_top {
            position: fixed;
            z-index: 100;
            width: inherit;
            cursor: pointer;
        }

        #fixed_left {
            position: fixed;
            z-index: 101;
        {# width: inherit;#}
        }

        #pieces_table {
            margin-top: 100px;
        }

        input {
            color: black;
        }

        #pieces_table .card-content {
            margin: 0;
        }

        #piece_add_div {
            padding-bottom: 100px;
        }

        #piece_add_div li {
            display: inline-block;
        }

        #piece_add_div a {
            border-radius: 20px;
            box-shadow: none;
        }

        #piece_add_div .btn, .btn-flat {
            text-transform: none;
            margin-left: 20px;
            margin-right: 20px;
        }
    </style>
{% endblock %}
{% block body %}
    {% load staticfiles %}
    <script src="{% static 'errands/js/html_build_strings.js' %}"></script>
    <!--suppress JSUnresolvedVariable -->
    <script>
        var $pieces_count;
        var $piece_add_empty;
        var $piece_add_tt;
        var $piece_add_te;
        var $piece_add_class;
        var $piece_add_rme;
        var $piece_add_exam;
        var $piece_add_exam_form;
        var $pieces_list;

        var $errand_inputs;
        var $errand_hints;
        var $errand_tag;
        var $errand_tag_hint;
        var $errand_comment;
        var $errand_comment_hint;

        {#  Get data  #}
        var SavedInstanceState = {
            Errand: {
                pk: Number("{{ errand.pk }}"),
                tag: "{{ errand.tag }}",
                comment: "{{ errand.comment }}"
            },
            Old_Pieces: [
                {% for i in old_pieces %}
                    {
                        pk:{{ i.pk }},
                        time_period: {
                            days:{{ i.time_period.days }},
                            seconds:{{ i.time_period.seconds }}
                        },
                        duration: {
                            days:{{ i.duration.days }},
                            seconds:{{ i.duration.seconds }}
                        },
                        epoch_date: "{{ i.epoch_date }}",
                        epoch_time: "{{ i.epoch_time }}",
                        end_date: "{{ i.end_date }}",
                        end_time: "{{ i.end_time }}",
                        tag: "{{ i.tag }}",
                        comment: "{{ i.comment }}"
                    },
                    {# insert old pieces descritpions #}
                {% endfor %}
            ],
            Render_Saved_State: function () {
                {# errand inputs #}
                $($errand_tag).val(SavedInstanceState.Errand.tag);
                $($errand_comment).val(SavedInstanceState.Errand.comment).trigger('autoresize');
                {# errand hints #}
                $($errand_tag_hint).html(SavedInstanceState.Errand.tag);
                $($errand_comment_hint).html(SavedInstanceState.Errand.comment);

                {# Old Pieces #}
                for (var i = 0; i < SavedInstanceState.Old_Pieces.length; ++i) {
                    $($pieces_list).append(
                        HTML_STRINGS.TOUCH.PIECE(
                            ('o' + SavedInstanceState.Old_Pieces[i].pk),
                            SavedInstanceState.Old_Pieces[i].epoch_date,
                            SavedInstanceState.Old_Pieces[i].epoch_time,
                            SavedInstanceState.Old_Pieces[i].end_date,
                            SavedInstanceState.Old_Pieces[i].end_time,
                            SavedInstanceState.Old_Pieces[i].time_period,
                            SavedInstanceState.Old_Pieces[i].duration,
                            SavedInstanceState.Old_Pieces[i].tag,
                            SavedInstanceState.Old_Pieces[i].comment
                        )
                    );
                }
                update_pieces_count();
            }
        };

        {# update functions #}
        function update_pieces_count() {
            var pieces_count = $($pieces_list).children().length;
            $($pieces_count).html(pieces_count);
        }

        var New_Pieces_Pk = 0;
        $(document).ready(function () {
            {# references #}
            $pieces_count = $('#pieces_count');
            $piece_add_empty = $('#piece_add_empty');
            $piece_add_tt = $('#piece_add_tt');
            $piece_add_te = $('#piece_add_te');
            $piece_add_class = $('#piece_add_class');
            $piece_add_rme = $('#piece_add_rme');
            $piece_add_exam = $('#piece_add_exam');
            $piece_add_exam_form = $('#piece_add_exam_form');
            $pieces_list = $('#pieces_list');

            $errand_inputs = $('#errand_inputs');
            $errand_hints = $('#errand_hints');
            $errand_tag = $('#errand_tag');
            $errand_tag_hint = $('#errand_tag_hint');
            $errand_comment = $('#errand_comment');
            $errand_comment_hint = $('#errand_comment_hint');

            {#  Initialize the UI using data  #}
            SavedInstanceState.Render_Saved_State();

            {#  Set listeners for events and change Errand Object correspondingly #}
            {# Errands Inputs FadeToggle #}
            $($errand_hints)
                .on(
                    'click',
                    function () {
                        $($errand_inputs).fadeToggle(0);
                    }
                );
            {# Errands Tag Hint #}
            $($errand_tag)
                .on(
                    'keyup',
                    function () {
                        $($errand_tag_hint).html($(this).val());
                    }
                );
            {# Errands Comment Hint #}
            $($errand_comment)
                .on(
                    'keyup',
                    function () {
                        $($errand_comment_hint).html($(this).val());
                    }
                );

            {# Piece List Listeners #}
            {# Remove Listener #}
            {# option-select (switch) Listeners #}
            $($pieces_list)
                .on(
                    'click',
                    '.remove-btn',
                    function () {
                        var id = $(this).parent().parent().attr('id');
                        $('tr').filter('#' + id).fadeOut(500, function () {
                            $(this).remove();
                            update_pieces_count();
                        });
                    }
                )
                // time-period
                .on(
                    'click',
                    '.time-period-div .option-select',
                    function () {
                        var on = $(this).prop('checked');
                        var $time_period_select = $(this).parent().parent().parent().find('.time-period-select');
                        var $end_div = $(this).parent().parent().parent().parent().parent().parent().find('.end-div');
                        var $end_date = $($end_div).find('.end-date');
                        var $end_time = $($end_div).find('.end-time');
                        var $days = $($time_period_select).find('.days');
                        var $seconds = $($time_period_select).find('.seconds');

                        if (!on) {
                            $time_period_select.fadeOut();
                            $end_div.fadeOut();
                            $($days).val(0);
                            $($seconds).val(0);
                            $($end_date).val("");
                            $($end_time).val("");
                        }
                        else {
                            $($days).val(1);
                            $($end_time).val("23:59");
                            $time_period_select.fadeIn();
                            $end_div.fadeIn();
                        }
                    }
                )
                // duration
                .on(
                    'click',
                    '.duration-div .option-select',
                    function () {
                        var on = $(this).prop('checked');
                        var $duration_select = $(this).parent().parent().parent().find('.duration-select');
                        var $days = $($duration_select).find('.days');
                        var $seconds = $($duration_select).find('.seconds');

                        if (!on) {
                            $duration_select.fadeOut();
                            $($days).val(0);
                            $($seconds).val(0);
                        }
                        else {
                            $($seconds).val(3600);
                            $duration_select.fadeIn()
                        }
                    }
                )
            ;

            function touch(Flag) {
                var SUBMIT = true;
                var Errand = {
                    // pk cannot change ever for a given errand
                    pk: SavedInstanceState.Errand.pk,
                    tag: $($errand_tag).val(),
                    comment: $($errand_comment).val()
                };

                var New_Pieces = [];
                var Old_Pieces = [];

                $($pieces_list).children('tr').each(
                    function () {
                        {# id #}
                        var id = $(this).attr('id');
                        var length = id.length;
                        var pk = id.substr(1, length - 1);


                        {# epoch #}
                        var epoch_date = $(this).find('.epoch-date').val();
                        {# validation #}
                        if (epoch_date == "") {
                            SUBMIT = false;
                            alert('Some Pieces have invalid epoch');
                            return;
                        }
                        var epoch_time = $(this).find('.epoch-time').val();
                        {# validation #}
                        if (epoch_time == "") {
                            SUBMIT = false;
                            alert('Some Pieces have invalid epoch');
                            return;
                        }


                        {# end #}
                        /**
                         * Invariant : No partially filled end
                         *             Either completely empty or completely filled
                         * if zero tp => end is empty string(date and time)
                         * if non-zero tp and full filled end(date and time) => end must be after epoch
                         * if non-zero tp and partially filled end => end is made empty
                         *                                                    (i.e repeating piece with no end specified)
                         * */
                        var $time_period_div = $(this).find('.time-period-div');
                        var time_period = {
                            days: $($time_period_div).find('.days').val(),
                            seconds: $($time_period_div).find('.seconds').val()
                        };

                        var $end_date = $(this).find('.end-date');
                        var $end_time = $(this).find('.end-time');

                        var end_date = $($end_date).val();
                        var end_time = $($end_time).val();
                        // If zero time period
                        if (time_period.days == 0 && time_period.seconds == 0) {
                            $end_date.val("");
                            $end_time.val("");
                        }
                        // If non-zero time period
                        else {
                            if (end_date != '' && end_time != '') {
                                var end_after_epoch =
                                    moment(end_date + " " + end_time, Std.std_dt_format)
                                        .isSameOrAfter(epoch_date + " " + epoch_time, Std.std_dt_format);
                                {# validation #}
                                if (!end_after_epoch) {
                                    SUBMIT = false;
                                    alert('Some Pieces end before epoch');
                                    return;
                                }
                            }
                            else {
                                $end_date.val("");
                                $end_time.val("");
                            }
                        }
                        // putting the validated values back into the var
                        end_date = $($end_date).val();
                        end_time = $($end_time).val();

                        var comment = $(this).find('.comment').val();

                        {# Creating Piece #}
                        var Piece = {
                            pk: pk,
                            epoch_date: epoch_date,
                            epoch_time: epoch_time,
                            end_date: end_date,
                            end_time: end_time,
                            time_period: {
                                {# default is 0 #}
                                days: $(this).find('.time-period-div .days').val(),
                                {# default is 0 #}
                                seconds: $(this).find('.time-period-div .seconds').val()
                            },
                            duration: {
                                {# default is 0 #}
                                days: $(this).find('.duration-div .days').val(),
                                {# default is 0 #}
                                seconds: $(this).find('.duration-div .seconds').val()
                            },
                            tag: $(this).find('.tag').val(),
                            comment: comment
                        };

                        if (id.charAt(0) == "n") {
                            New_Pieces.push(Piece)
                        }
                        else if (id.charAt(0) == "o") {
                            Old_Pieces.push(Piece)
                        }
                    }
                );

                if (SUBMIT) {
                    $('#__flag__').val(Flag);
                    $('#__errand__').val(JSON.stringify(Errand));
                    $('#__old_pieces__').val(JSON.stringify(Old_Pieces));
                    $('#__new_pieces__').val(JSON.stringify(New_Pieces));
                    $('#process_touch_fm').submit();
                }

                //console.log(JSON.stringify(Errand));
                //console.log(JSON.stringify(Old_Pieces));
                //console.log(JSON.stringify(New_Pieces));
            }

            {# Sync #}
            $('#sync_btn')
                .on(
                    'click',
                    function () {
                        touch(0)
                    }
                );

            {# Sync and go to Errands #}
            $('#go_errands_btn')
                .on(
                    'click',
                    function () {
                        touch(1)
                    }
                );
            {# Sync and go to Timetable #}
            $('#go_timetable_btn')
                .on(
                    'click',
                    function () {
                        touch(2)
                    }
                );

            {# Delete #}
            $('#delete_btn')
                .on(
                    'click',
                    function () {
                        $('#__pk__').val(SavedInstanceState.Errand.pk);
                        $('#delete_fm').submit()
                    }
                )
            ;
        });
    </script>

    <div style="display: none;">
        <form id="process_touch_fm" method="post" action="{% url 'errands:process_touch_errand' %}">
            {% csrf_token %}
            <input id="__flag__" name="Flag" type="text">
            <input id="__errand__" name="Errand" type="text">
            <input id="__old_pieces__" name="Old_Pieces" type="text">
            <input id="__new_pieces__" name="New_Pieces" type="text">
        </form>
        <form id="delete_fm" method="post" action="{% url 'errands:delete_errand' %}">
            {% csrf_token %}
            <input id="__pk__" name="pk" type="text">
        </form>
    </div>

    <div class="row">
        <div class="col l2 m0 s0">
            <div id="fixed_left" class="white">
                <div id="errand_inputs" class="card waves-effect hoverable">
                    <div class="card-content">
                        <div class="row">
                            <div class="col l12 m12 s12 input-field">
                                <input id="errand_tag" type="text" class="validate" value="">
                                <label for="errand_tag">Tag</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l12 m12 s12 input-field">
                                <textarea id="errand_comment" class="materialize-textarea"></textarea>
                                <label for="errand_comment">Comment</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col l8 m12 s12">
            {# Fixed Top #}
            <div id="fixed_top" class="white waves-effect">
                <div id="errand_hints" class="row" style="margin:0">
                    <div class="col l8 m8 s8" style="padding-top: 1%">
                        <span id="errand_tag_hint"
                              class="flow-text truncate">
                        </span>
                        <span id="errand_comment_hint"
                              class="truncate grey-text">
                        </span>
                    </div>
                    <div class="col l4 m4 s4 ">
                        <p class="flow-text"><span id="pieces_count">{{ old_pieces|length }}</span> Piece{% if old_pieces|length > 1 %}s{% endif %}</p>
                    </div>
                </div>
                <div class="row" style="margin: 0">
                    <div class="col l12 m12 s12 divider"></div>
                </div>
            </div>
            {# Pieces Table #}
            <div id="pieces_table">
                <table class="bordered striped highlight">
                    {# Pieces List #}
                    <tbody id="pieces_list">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col l2 m0 s0">

            <div class="fixed-action-btn vertical">
                <a class="btn-floating waves-effect waves-light btn-large pink z-depth-4">
                    <i class=" material-icons">menu</i>
                </a>
                <ul>
                    <li>
                        {# Sync and Go to Errands Btn #}
                        <a id="go_errands_btn"
                           class="waves-effect waves-light btn-floating btn-large blue z-depth-5">
                            <i class="material-icons">send</i>
                        </a>
                    </li>
                    <li>
                        {# Sync Btn #}
                        <a id="sync_btn"
                           class="waves-effect waves-light btn-floating btn-large green z-depth-5">
                            <i class="material-icons">sync</i>
                        </a>
                    </li>
                    <li>
                        {# Sync and Go to TimeTable Btn #}
                        <a id="go_timetable_btn"
                           class="waves-effect waves-light btn-floating btn-large orange z-depth-5">
                            <i class="material-icons">view_week</i>
                        </a>
                    </li>
                    {% if errand %}
                        <li>
                            {# Delete Form Btn #}
                            <a id="delete_btn"
                               class="waves-effect waves-light btn-floating btn-large red darken-4 z-depth-5">
                                <i class="material-icons">delete</i>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        {# Cancel Btn #}
                        <a id="cancel_btn"
                           href="{% url 'errands:all_errands' %}"
                           class="waves-effect waves-light btn-floating btn-large grey darken-4 z-depth-5">
                            <i class="material-icons">close</i>
                        </a>
                    </li>
                </ul>
            </div>

            {# Pieces Add Btn #}
            <a class="waves-effect waves-light btn-floating btn-large green z-depth-4"
               style="position:fixed;bottom: 20px;right: 100px;z-index: 102"
               href="#piece_add_div">
                <i class="material-icons">add</i>
            </a>

            <!-- Templates -->
            <div id="piece_add_div" class="modal bottom-sheet" style="min-height: 50vh">
                <script>
                    $(document).ready(function () {
                        function new_piece_add(toast, ed, et, ld, lt, tp, dr, tg, cm) {
                            $($pieces_list).append(
                                HTML_STRINGS.TOUCH.PIECE(
                                    'n' + (New_Pieces_Pk + 1),
                                    ed,
                                    et,
                                    ld,
                                    lt,
                                    tp,
                                    dr,
                                    tg,
                                    cm
                                )
                            );
                            New_Pieces_Pk++;
                            update_pieces_count();
                            toast = toast === undefined ? "Piece" : toast;
                            Materialize.toast(toast + " Added", 1000);
                        }

                        {# Add Empty #}
                        $($piece_add_empty)
                            .on(
                                'click',
                                function () {
                                    new_piece_add(
                                        "Empty Piece"
                                    );
                                }
                            );
                        {# Add Todays Task #}
                        $($piece_add_tt)
                            .on(
                                'click',
                                function () {
                                    new_piece_add(
                                        "A Task Piece",
                                        moment().format(Std.std_d_format),
                                        moment().format(Std.std_t_format)
                                    );
                                }
                            );
                        {# Add Todays Event #}
                        $($piece_add_te)
                            .on(
                                'click',
                                function () {
                                    new_piece_add(
                                        "An Event Piece",
                                        moment().format(Std.std_d_format),
                                        moment().format(Std.std_t_format),
                                        undefined,
                                        undefined,
                                        undefined,
                                        {days: 0, seconds: 3600}
                                    );
                                }
                            );
                        {# Add Class #}
                        $($piece_add_class)
                            .on(
                                'click',
                                function () {
                                    new_piece_add(
                                        "Class Piece",
                                        moment().format(Std.std_d_format),
                                        moment().format(Std.std_t_format),
                                        undefined,
                                        undefined,
                                        {days: 7, seconds: 0},
                                        {days: 0, seconds: 3600}
                                    );
                                }
                            );

                        {# Add Remind Me Everyday #}
                        $($piece_add_rme)
                            .on(
                                'click',
                                function () {
                                    new_piece_add(
                                        "Everyday Remainder",
                                        moment().format(Std.std_d_format),
                                        moment().format(Std.std_t_format),
                                        undefined,
                                        undefined,
                                        {days: 1, seconds: 0}
                                    );
                                }
                            );

                        {# Add Exam #}
                        $($piece_add_exam)
                            .on(
                                'click',
                                function () {
                                    $($piece_add_exam_form).fadeToggle(0);
                                }
                            );
                        $($piece_add_exam_form)
                            .on(
                                'change',
                                'input[type=date]',
                                function () {
                                    var val = $(this).val();
                                    if (val != "") {
                                        var tag = $($piece_add_exam_form).find('.tag').val();
                                        // exam task piece
                                        new_piece_add(
                                            "Exam",
                                            val,
                                            "23:59",
                                            undefined,
                                            undefined,
                                            undefined,
                                            undefined,
                                            tag + " Exam"
                                        );
                                        // everyday reminder for exam
                                        new_piece_add(
                                            "Exam Remainder",
                                            moment().format(Std.std_d_format),
                                            moment().format(Std.std_t_format),
                                            moment(val, Std.std_d_format).add(-1, 'd').format(Std.std_d_format),
                                            "23:59",
                                            {days: 1, seconds: 0},
                                            undefined,
                                            "Remainder for " + tag + " Exam"
                                        );
                                        // empty the value
                                        $(this).val("");
                                        $($piece_add_exam_form).find('.tag').val("")
                                    }
                                }
                            );
                    });
                </script>
                <div class="modal-content">
                    <span class="flow-text">Templates</span>
                    <div style="background-color: rgba(0,0,0,0.1);padding: 1px">
                        <ul style="overflow-x: auto;white-space: nowrap">
                            <li id="piece_add_empty"><a class="btn waves-effect white black-text">Empty</a></li>
                            <li id="piece_add_tt"><a class="btn waves-effect blue white-text">Today's Task</a></li>
                            <li id="piece_add_te"><a class="btn waves-effect green white-text">Today's Event</a></li>
                            <li id="piece_add_class"><a class="btn waves-effect pink">Class</a></li>
                            <li id="piece_add_rme"><a class="btn waves-effect">Remind Me Everyday</a></li>
                            <li id="piece_add_exam"><a class="btn red darken-4 waves-effect">Exam</a></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div id="piece_add_exam_form" class="card col l3 m6 s12" style="display: none">
                            <div class="card-content">
                                <label>
                                    Which Exam?
                                    <input class="tag" type="text">
                                </label>
                                <label>
                                    Date of Exam
                                    <input type="date">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% comment %}


        .time-period-div .fig {
            position: relative;
            height: 20px;
            margin-top: 20px;
        }

        .time-point {
            position: absolute;
            height: 30px;
            width: 30px;
            border-radius: 15px;
            border: 2px solid teal;
        }

        .time-line {
            position: absolute;
            width: 100%;
            height: 3px;
            top: 14px;
        }

                                <div class="col l6 fig">
                                    <a class="black time-line z-depth-3 btn" style=""></a>
                                    <a class="white waves-effect waves-teal time-point z-depth-5"
                                       style="left: 10%;"></a>
                                    <a class="white waves-effect waves-teal time-point z-depth-5"
                                       style="left: 45%;"></a>
                                    <a class="white waves-effect waves-teal time-point z-depth-5"
                                       style="left: 80%;"></a>
                                </div>
{% endcomment %}