<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {# JQuery #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {# Materialize #}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>#}
    {# Extra Headers #}
    {% block extra_headers %}{% endblock %}
    {# Icon and Title #}
    <link rel="icon" href="{% static 'webinterface/logo.png' %}">
    <title>{% block title %}{% endblock %}</title>
    {# CSS #}
    {% block css %}{% endblock %}
</head>
<body>{% block body %}{% endblock %}</body>
</html>