{% extends 'errands/__base__.html' %}
{% block title %}Time Table{% endblock %}
{% block style %}
    <style>
        .time-hint {
            z-index: 999;
        }

        button {
            border: ButtonShadow;
        }
    </style>
{% endblock %}
{% block body %}
    <script>
        var Context = {
            Time_Table: {
                Scale: {
                    Px_To_Min: 1 // 1 min = 1px
                },
                Range: {
                    Epoch: function () {
                        return moment().hour(0).minute(0).second(0);
                    },
                    End: function () {
                        return Context.Time_Table.Range.Epoch().add(1, 'd');
                    }
                },
                Height: $(document).height() * (0.9), //px
                Scroll_Top: 0,
                Reload_Top_Fixed_Hint: function () {
                    $('#top-fixed-hint')
                        .html(
                            Context.Time_Table.Range
                                .Epoch()
                                .add(Context.Time_Table.Scroll_Top / Context.Time_Table.Scale.Px_To_Min, 'm')
                                .format('DD MMM dddd')
                        );
                }
            },
            Stubs: {
                Breadth: 50 // px
            }
        };

        // time divisions
        function render_time_divisions(scale, no_days) {
            // defaults
            scale = scale === undefined ? 1 : scale;
            no_days = no_days === undefined ? 1 : no_days;

            var $time_divisions_div = $('#time-divisions-div');

            for (var i = 0; i <= 24 * no_days; ++i) {
                // div for every 60 minutes
                var top = i * scale * 60;
                var time_division;
                var time_hint;
                // day change
                if (i % 24 == 0) {
                    time_division = element(
                        ['div'],
                        [
                            {
                                'style': 'position:absolute;width:100%;top:' + top + 'px',
                                'class': 'divider pink remove-on-reload'
                            }
                        ],
                        [''],
                        [true]
                    );

                    time_hint = element(
                        ['span'],
                        [
                            {
                                'style': 'position:absolute;top:' + top + 'px;',
                                'class': 'pink white-text z-depth-2 remove-on-reload time-hint'
                            }
                        ],
                        [Context.Time_Table.Range.Epoch().add(i * 60, 'm').format('HH:mm')],
                        [true]
                    );
                }
                // normal time division
                else {
                    time_division = element(
                        ['div'],
                        [
                            {
                                'style': 'position:absolute;width:100%;top:' + top + 'px',
                                'class': 'divider teal remove-on-reload'
                            }
                        ],
                        [''],
                        [true]
                    );

                    time_hint = element(
                        ['span'],
                        [
                            {
                                'style': 'position:absolute;top:' + top + 'px;',
                                'class': 'teal white-text z-depth-2 remove-on-reload time-hint'
                            }
                        ],
                        [Context.Time_Table.Range.Epoch().add(i * 60, 'm').format('HH:mm')],
                        [true]
                    );
                }

                //console.log(division);
                $($time_divisions_div).append(time_division);
                $($time_divisions_div).append(time_hint);
            }

            // pushing the clipper in time stubs div to make the inner heights
            // of time stubs div and time divisions div equal
            var total_height = 24 * 60 * no_days * scale;
            $('#clipper').css({
                'top': total_height + 'px'
            })
        }
        function render_rectangle(top, left, height, width, details) {
            var display_name = '';
            for (var j = 0; j < details['name'].length; j++) {
                display_name += details['name'].charAt(j) + '<br>';
            }

            var rectangle = element(
                ['button'],
                [
                    {
                        'href': '#',
                        'class': 'z-depth-5 white-text waves-effect hoverable remove-on-reload',
                        'style': 'position:absolute;' +
                        'top: ' + top + 'px;' +
                        'left: ' + left + 'px;' +
                        'width:' + width + 'px;' +
                        'height:' + height + 'px;' +
                        'background-color:' + details['bg']
                    }
                ],
                [display_name],
                [true]
            );
            //console.log(rectangle);
            var $time_stubs_div = $('#time-stubs-div');
            $($time_stubs_div).append(rectangle);
        }
        // time stubs
        function render_stub(details) {
            render_rectangle(details['epoch'], 300, details['duration'] * Context.Time_Table.Scale.Px_To_Min, Context.Stubs.Breadth,
                {
                    name: 'dynamic',
                    bg: 'red'
                })
        }
        // reload UI
        function reload() {
            $('.remove-on-reload').remove();
            render_time_divisions(Context.Time_Table.Scale.Px_To_Min, 2);
        }

        $(document).ready(function () {
            // references
            var $time_table_div = $('#time-table-div');
            var $time_divisions_div = $('#time-divisions-div');
            var $time_stubs_div = $('#time-stubs-div');
            var $scale_select = $('#scale-select');
            var $date_select = $('#date-select');
            var $cursor_bar = $('#cursor-bar');
            var $cursor_bar_hint = $('#cursor-bar-hint');
            var $top_fixed_hint = $('#top-fixed-hint');
            /**
             * Time Table
             * */
            // Initializing Height
            $($time_table_div).height(Context.Time_Table.Height);
            $($time_stubs_div)
            // Scroll Sync for Time Divisions and Time Stubs
                .on(
                    'scroll',
                    function () {
                        $($time_divisions_div).scrollTop($(this).scrollTop());
                        Context.Time_Table.Scroll_Top = $(this).scrollTop();
                        Context.Time_Table.Reload_Top_Fixed_Hint();
                    }
                )
                // Cursor Bar
                .on(
                    'mousemove',
                    function (e) {
                        var pos_wrt_time_divisions =
                            e.clientY + Context.Time_Table.Scroll_Top - parseInt($($time_stubs_div).css('top'));

                        $($cursor_bar).css({
                            'top': pos_wrt_time_divisions
                        });
                        var no_min_from_epoch = pos_wrt_time_divisions / Context.Time_Table.Scale.Px_To_Min;
                        $($cursor_bar_hint).html(Context.Time_Table.Range.Epoch().add(no_min_from_epoch, 'm').format('hh:mm A'));
                    }
                )
            ;
            /**
             * Scale.Min_To_Px
             * */
            // Initializing
            $($scale_select).val(Context.Time_Table.Scale.Px_To_Min * 60); // hour px selection
            // Listening
            $($scale_select)
                .on(
                    'change',
                    function () {
                        Context.Time_Table.Scale.Px_To_Min = $(this).val() / 60;
                        reload();
                    }
                );
            /**
             * Ajax Setup
             * */
            $('#get_errands_on_submit')
                .on(
                    'click',
                    function () {
                        var data = {
                            date: moment($($date_select).val(), 'YYYY-MM-DD').format('DD-MM-YYYY')
                        };
                        $.ajax(
                            {
                                url: 'http://192.168.0.122:8000/time_table/get_errands_on/',
                                type: 'POST',
                                data: data,
                                error: function () {
                                    alert('action could not be done')
                                },
                                success: function (result) {
                                    alert(result)
                                },
                                async: true
                            })
                    }
                );
            /**
             * Initial Rendering
             * */
            reload();

            render_rectangle(200, 200, 0, Context.Stubs.Breadth, {name: 'hey', bg: 'green'});
            render_rectangle(60, 100, 600, Context.Stubs.Breadth, {name: 'hey', bg: 'blue'});
            render_rectangle(60, 2300, 600, Context.Stubs.Breadth, {name: 'hey', bg: 'blue'})
        });
    </script>

    <div class="row">

        <div class="col m0 l1"></div>

        <div class="col m12 l10">

            <div id="time-table-div"
                 style="height: 100%;
                        position: relative;
                        padding: 0;"
                 class="row">
                <!-- Top Fixed Hint -->
                <div id="top-fixed-hint"
                     class="waves-effect waves-yellow teal-text flow-text"
                     style="text-align: center;margin: 0;width: 100%;padding-top: 10px;padding-bottom: 10px;">
                    Today
                </div>
                <div class="divider"></div>

                <!-- Time Divisions -->
                <div id="time-divisions-div"
                     style="position: absolute;
                            height: 100%;
                            width: 100%;
                            overflow: scroll;">

                    <div id="cursor-bar"
                         style="position: absolute;
                                width: 100%;">

                        <hr style="background-color: deeppink;
                               height: 2px;
                               margin: 0">
                        <div id="cursor-bar-hint"
                             style="position:relative;"
                             class="right-align flow-text white"></div>
                    </div>
                </div>

                <!-- Time Stubs -->
                <div id="time-stubs-div"
                     style="position: absolute;
                            height: 100%;
                            width: 100%;
                            overflow: scroll;">

                    <hr id="clipper"
                        style="position: absolute;
                               background-color: transparent;
                               margin: 0">
                </div>

            </div>
        </div>

        <div class="col m0 l1">

            <div class="fixed-action-btn vertical">
                <a class="btn-floating btn-large red">
                    <i class="material-icons">menu</i>
                </a>
                <ul>
                    <li><a href="#settings-div" class="btn-floating btn-large blue"><i
                            class="material-icons">settings</i></a></li>
                </ul>
            </div>

            <!-- Settings Div -->
            <div id="settings-div" class="modal bottom-sheet">
                <script>
                    $(document).ready(function () {
                        $(".modal").modal({
                                in_duration: 300, // Transition in duration
                                out_duration: 200 // Transition out duration
                            }
                        );
                    });
                </script>
                <div class="modal-content row">

                    <div class="col l3 m3">
                        <label>
                            Scale
                            <p class="range-field">
                                <input type="range" id="scale-select" min="30" max="120"/>
                            </p>
                        </label>
                        <label>
                            <script>
                                $(document).ready(function () {
                                    $('#date-select').pickadate({
                                        selectMonths: true,
                                        selectYears: 15
                                    });
                                });
                            </script>
                            Date
                            <input id="date-select" type="date">
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    Footer
                </div>
            </div>

        </div>

    </div>
{% endblock %}