{% extends 'home/__base__.html' %}
{% load staticfiles %}
{% block title %}Time Table{% endblock %}
{% block style %}
    <style>
        .block-screen {
            position: absolute;
            z-index: 999;
            width: 100%;
            height: 100%;
            background-color: white;
        }

        #time-divisions-div {
            background-color: rgba(255, 255, 255, 0.5);
        }

        #time-hints-div {
            z-index: 10;
            background-color: rgba(255, 255, 255, 0.5);
        }

        #task-stubs-div {
            font-size: small;
        }

        button {
            border: ButtonShadow;
        }

        #event-stubs-div .stub {
            font-size: x-small;
            border-radius: 2px;
        }

        #task-stubs-div .stub {
            border-radius: 2px;
        }

        #hues-div .hue {
            background-size: contain;
        }

        .stretcher {
            position: absolute;
            background-color: transparent;
            margin: 0
        }

        #settings-div label {
            color: black;
        }

        #detail-div textarea {
            padding: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            overflow: auto;
        }

        #detail-div .divider {
            margin-top: 5px;
            margin-bottom: 5px;
        }

    </style>
{% endblock %}
{% block body %}
    <!--suppress JSUnresolvedVariable -->
    <script>
        // references
        var $middle;
        var $time_table_div;
        var $time_divisions_div;
        var $time_hints_div;
        var $event_stubs_div;
        var $task_stubs_div;
        var $scale_select;
        var $date_select;
        var $date_select_div;
        var $cursor_bar;
        var $cursor_bar_hint;
        var $present_bar;
        var $present_bar_hint;
        var $top_hint;
        var $stub_count;
        var $top_hint_div;
        var $loading_timetable;
        var $loading_detail;
        var $error_timetable;
        var $error_detail;
        var $detail_div;
        var $yesterday;
        var $tomorrow;
        var $hues_div;
        var $hues_toggle;
        var $touch_piece;

        var Context = {
            TimeTable: {
                Scale: {
                    PxToMin: 60 / 60 // 1 min = 1px
                },
                Range: {
                    LB: function () {
                        return moment().hour(0).minute(0).second(0);
                    },
                    UB: function () {
                        return Context.TimeTable.Range.LB().add(1, 'd');
                    }
                },
                Height: $(document).height() * (0.9), //px
                ScrollTop: 0,
                ReloadTopFixedHint: function () {
                    $($top_hint)
                        .html(
                            Context.TimeTable.Range
                                .LB()
                                .add(Context.TimeTable.ScrollTop / Context.TimeTable.Scale.PxToMin, 'm')
                                .format('MMM Do dddd')
                        );
                }
            },
            Stubs: {
                Tasks: {
                    Def: [],
                    Breadth: '90%',
                    Height: '50', //px
                    Left: '5%'
                },
                Events: {
                    Lanes: [],
                    Breadth: 30, //px
                    Padding: 5, // px
                    InitialLeft: 50 // px
                },
                Count: 0,
                Duration: 0 // minutes
            },
            Hue: {
                On: false,
                Hues: [
                    // Assumes that ub > lb : lb,ub E ["00:00" , "23:59"]
                    // i.e. lb = "14:00" ub = "01:00" then ub is next day's "01:00"
                    {
                        bg: "background-color: rgba(0,0,0,0.2);",
                        lb: "20:00",
                        ub: "05:30"
                    },
                    {
                        bg: "background: rgba(0,0,0,0.2);" +
                        "background: -webkit-linear-gradient(rgba(0,0,0,0.2), white);" +
                        "background: -o-linear-gradient(rgba(0,0,0,0.2), white);" +
                        "background: -moz-linear-gradient(rgba(0,0,0,0.2), white);" +
                        "background: linear-gradient(rgba(0,0,0,0.2), white);",
                        lb: "05:30",
                        ub: "06:30"
                    },
                    {
                        bg: "background-color:white;",
                        lb: "06:30",
                        ub: "15:00"
                    },
                    {
                        bg: "background: white;" +
                        "background: -webkit-linear-gradient(white, rgba(0,0,0,0.2));" +
                        "background: -o-linear-gradient(white, rgba(0,0,0,0.2));" +
                        "background: -moz-linear-gradient(white, rgba(0,0,0,0.2));" +
                        "background: linear-gradient(white, rgba(0,0,0,0.2));",
                        lb: "19:00",
                        ub: "20:00"
                    }
                ]
            }
        };

        // Materialize CSS init
        function materialize_css_init() {
            $('.tooltipped').tooltip({delay: 50});
        }
        // Cursor Bar Render
        function render_cursor_hint_bar(e) {
            var pos_wrt_time_divisions =
                e.clientY
                + Context.TimeTable.ScrollTop
                - ($($top_hint_div).height()
                    + parseInt($($top_hint_div).css('padding-top'))
                    + parseInt($($top_hint_div).css('padding-bottom'))
                    + parseInt($($top_hint_div).css('margin-top'))
                    + parseInt($($top_hint_div).css('margin-bottom'))
                    + 3 // slight adjustment
                );

            $($cursor_bar).css({
                top: pos_wrt_time_divisions
            });
            var no_min_from_epoch = pos_wrt_time_divisions / Context.TimeTable.Scale.PxToMin;
            $($cursor_bar_hint).css({
                left: e.clientX + 10,
                top: e.clientY + 10 // slight adjustments for better repr
            }).html(Context.TimeTable.Range.LB().add(no_min_from_epoch, 'm').format('hh:mm A'));
        }
        // Present Bar Render
        function render_present_hint_bar() {
            if (moment().isBefore(Context.TimeTable.Range.UB())
                && moment().isAfter(Context.TimeTable.Range.LB())) {

                var top = parseInt(moment.duration(moment().diff(Context.TimeTable.Range.LB())).asMinutes());
                $($present_bar).css({
                    top: top
                }).fadeIn(0);
                $($present_bar_hint).html("You are here!");
            }
            else {
                $($present_bar).fadeOut(0);
            }
        }
        // Render hues
        function render_hues() {
            for (var i = 0; i < Context.Hue.Hues.length; ++i) {
                // for each hue
                const LB = Context.TimeTable.Range.LB();
                const UB = Context.TimeTable.Range.UB();
                var bg = Context.Hue.Hues[i].bg;
                // Hue bounds
                var lb, ub, height, top;
                lb = moment(Context.Hue.Hues[i].lb, Std.std_t_format);
                ub = moment(Context.Hue.Hues[i].ub, Std.std_t_format);
                // First Hue-Stub
                lb = Context.TimeTable.Range.LB().subtract(1, 'd').hour(lb.hour()).minute(lb.minute()).seconds(0);
                ub = Context.TimeTable.Range.LB().subtract(1, 'd').hour(ub.hour()).minute(ub.minute()).seconds(0);
                if (ub.isBefore(lb)) {
                    ub.add(1, 'd');
                }
                while (lb.isBefore(UB)) {
                    height = moment.duration(ub.diff(lb)).asMinutes() * Context.TimeTable.Scale.PxToMin + "px";
                    top = moment.duration(lb.diff(LB)).asMinutes() * Context.TimeTable.Scale.PxToMin + "px";
                    var hue = element(
                        ['div'],
                        [
                            {
                                'class': 'remove-on-reload hue',
                                'style': 'position:absolute;width: 100%;' +
                                'top: ' + top + ';' +
                                'height:' + height + ';' +
                                bg
                            }
                        ],
                        [''],
                        [true]
                    );
                    // console.log(hue);
                    $($hues_div).append(hue);
                    lb.add(1, 'd');
                    ub.add(1, 'd');
                }
            }

            if (Context.Hue.On) {
                $($time_divisions_div).find('.hue').fadeIn(0);
            }
            else {
                $($time_divisions_div).find('.hue').fadeOut(0);
            }
        }

        // Time divisions
        function render_time_divisions(scale, no_days) {
            // defaults
            scale = scale === undefined ? 1 : scale;
            no_days = no_days === undefined ? 1 : no_days;

            for (var i = 0; i <= 24 * no_days; ++i) {
                // div for every 60 minutes
                var top = i * scale * 60;
                var time_division;
                var time_hint;
                // day change
                if (i % 24 == 0) {
                    time_division = element(
                        ['div'],
                        [
                            {
                                'style': 'position:absolute;width:100%;top:' + top + 'px',
                                'class': 'divider pink remove-on-reload'
                            }
                        ],
                        [''],
                        [true]
                    );

                    time_hint = element(
                        ['span'],
                        [
                            {
                                'style': 'position:absolute;top:' + top + 'px;',
                                'class': 'pink white-text z-depth-2 remove-on-reload time-hint'
                            }
                        ],
                        [Context.TimeTable.Range.LB().add(i * 60, 'm').format('HH:mm')],
                        [true]
                    );
                }
                // normal time division
                else {
                    time_division = element(
                        ['div'],
                        [
                            {
                                'style': 'position:absolute;width:100%;top:' + top + 'px',
                                'class': 'divider teal remove-on-reload'
                            }
                        ],
                        [''],
                        [true]
                    );

                    time_hint = element(
                        ['span'],
                        [
                            {
                                'style': 'position:absolute;top:' + (top + 1) + 'px;',// + ==> linear movement
                                'class': 'teal white-text z-depth-2 remove-on-reload time-hint'
                            }
                        ],
                        [Context.TimeTable.Range.LB().add(i * 60, 'm').format('HH:mm')],
                        [true]
                    );
                }

                //console.log(division);
                $($time_divisions_div).append(time_division);
                $($time_hints_div).append(time_hint);
            }

            // pushing the stretcher in time stubs div to make the inner heights
            // of time stubs div and time divisions div equal
            var total_height = 24 * 60 * no_days * scale;
            $('.stretcher').css({
                'top': total_height + 'px'
            })
        }
        // Render stub
        function render_stub(top, left, height, breadth, container, details) {
            var stub = element(
                ['button'],
                [
                    {
                        'class': 'truncate white-text waves-light waves-effect hoverable remove-on-reload stub tooltipped',
                        'data-position': details.tooltip.position,
                        'data-delay': "50",
                        'data-tooltip': details.tooltip.tag,
                        'title': details.title,
                        'pk': details.pk,
                        'style': 'position:absolute;' +
                        'top: ' + top + ';' +
                        'left: ' + left + ';' +
                        'width:' + breadth + ';' +
                        'height:' + height + ';' +
                        'background-color:' + details.bg
                    }
                ],
                [details.tag],
                [true]
            );
            //console.log(stub);

            $(container).append(stub);
        }
        // Event stub
        function render_event_stub(stub, lane) {
            // Preparing
            //noinspection JSUnresolvedVariable
            var epoch = moment(stub.epoch[0], Std.std_dt_format);
            var end = moment(stub.end[0], Std.std_dt_format);
            // Top
            var top_in_min = moment.duration(epoch.diff(Context.TimeTable.Range.LB())).asMinutes();
            var top = top_in_min * Context.TimeTable.Scale.PxToMin;
            // Left
            var left = lane * (Context.Stubs.Events.Breadth + Context.Stubs.Events.Padding) + Context.Stubs.Events.InitialLeft;
            // Duration
            var duration_in_min = moment.duration(end.diff(epoch)).asMinutes();
            Context.Stubs.Duration += duration_in_min;
            // Height
            var height = duration_in_min * Context.TimeTable.Scale.PxToMin;
            // Display Name
            /* Full Vertical Display */
            var display_name = '';
            for (var i = 0; i < stub.tag.length; ++i) {
                display_name += stub.tag.charAt(i) + '<br>'
            }
            /* Two letter Vertical Display */
            {#            var split = stub.tag.split(' ');#}
            {#            var display_name = '';#}
            {#            if (split.length > 1) {#}
            {#                display_name = (split[0].charAt(0) + '<br>' + split[1].charAt(0))#}
            {#            }#}
            {#            else {#}
            {#                if (split[0].length > 1) display_name = split[0].charAt(0) + split[0].charAt(1);#}
            {#                else display_name = split[0].charAt(0);#}
            {#            }#}

            // Rendering
            var _stub = element(
                ['button'],
                [
                    {
                        'class': 'truncate white-text waves-light waves-effect hoverable remove-on-reload stub tooltipped',
                        'data-position': 'top',
                        'data-delay': "50",
                        'data-tooltip': stub.tag,
                        'pk': stub.pk,
                        'style': 'position:absolute;' +
                        'top: ' + top + 'px;' +
                        'left: ' + left + 'px;' +
                        'width:' + Context.Stubs.Events.Breadth + 'px;' +
                        'height:' + height + 'px;' +
                        'background-color:' + stub.color,
                        'top_min': top_in_min,
                        'height_min': duration_in_min,
                        'lane': lane
                    }
                ],
                [display_name],
                [true]
            );

            $($event_stubs_div).append(_stub);
        }
        // Event stubs
        function render_event_stubs() {
            Context.Stubs.Count = 0;
            for (var i = 0; i < Context.Stubs.Events.Lanes.length; ++i) {
                for (var j = 0; j < Context.Stubs.Events.Lanes[i].length; ++j) {
                    render_event_stub(Context.Stubs.Events.Lanes[i][j], i);
                    Context.Stubs.Count++;
                }
            }
        }
        // Task stub
        function render_task_stub(stub, i) {
            {% comment %} Timed Form {% endcomment %}
            //noinspection JSUnresolvedVariable
            //var epoch = moment(stub.epoch[0], Std.dt_format);
            //var top = moment.duration(epoch.diff(Context.TimeTable.Range.LB())).asMinutes()
            //    * Context.TimeTable.Scale.PxToMin;
            {% comment %} Stacked Form {% endcomment %}
            // Height
            var height = Context.Stubs.Tasks.Height;
            // Top
            var top = i * height + i * 10 + 10;
            // Rendering
            var _stub = element(
                ['button'],
                [
                    {
                        'class': 'truncate white-text waves-light waves-effect hoverable remove-on-reload stub tooltipped',
                        'data-position': 'left',
                        'data-delay': "50",
                        'data-tooltip': stub.tag,
                        'pk': stub.pk,
                        'style': 'position:absolute;' +
                        'top: ' + top + 'px;' +
                        'left: ' + Context.Stubs.Tasks.Left + ';' +
                        'width:' + Context.Stubs.Tasks.Breadth + ';' +
                        'height:' + height + 'px;' +
                        'background-color:' + stub.color
                    }
                ],
                [stub.tag],
                [true]
            );
            //console.log(stub);

            $($task_stubs_div).append(_stub);
        }
        // Task stub
        function render_task_stubs() {
            for (var i = 0; i < Context.Stubs.Tasks.Def.length; ++i) {
                render_task_stub(Context.Stubs.Tasks.Def[i], i);
                Context.Stubs.Count++;
            }
        }
        // Reload UI
        function reload() {
            // Remove all removable objects
            $('.remove-on-reload').remove();
            // Initializing Height
            $($middle).height(Context.TimeTable.Height);
            // Render Time Divisions and Time Hints
            render_time_divisions(Context.TimeTable.Scale.PxToMin,
                moment.duration(Context.TimeTable.Range.UB().diff(Context.TimeTable.Range.LB())).asDays());
            // Render Present Bar
            render_present_hint_bar();
            // Render Hues
            render_hues();
            // Render Event Stubs
            render_event_stubs();
            // Render Task Stubs
            render_task_stubs();
            // Materialize CSS Initializations
            materialize_css_init();
            // Stubs Count Hint
            $($stub_count).html(Context.Stubs.Count);
            // Loading Complete
            $($loading_timetable).fadeOut(0);
        }

        // Fetch stubs
        function fetch_stubs_and(ranges, error_callback, success_callback) {
            //noinspection JSUnresolvedVariable
            $.ajax(
                {
                    url: "{% url 'errands:read_stubs' %}",
                    data: {ranges: JSON.stringify(ranges)},
                    error: error_callback,
                    success: success_callback
                }
            );
        }
        // Render date
        function render_stubs_on(date) {
            // Loading On Progress
            $($loading_timetable).fadeIn(0);
            var error_call_back = function () {
                $($error_timetable).find('.message').html('Stubs could not be fetched');
                $($error_timetable).fadeIn(0);
            };
            var success_callback = function (result) {

                // Problem with server ? return : continue
                if (result == -1) {
                    error_call_back();
                    return;
                }
                // reload using the stubs data
                var json = JSON.parse(result)[0];
                // Change the Context
                Context.TimeTable.Range.LB = function () {
                    return moment(json.LB, Std.std_dt_format);
                };
                Context.TimeTable.Range.UB = function () {
                    return moment(json.UB, Std.std_dt_format);
                };
                Context.TimeTable.ReloadTopFixedHint();
                // Copy the context
                Context.Stubs.Events.Lanes = json.Stubs.Events;
                Context.Stubs.Tasks.Def = json.Stubs.Tasks;
                // console.log(json);
                // Reload
                reload();
            };
            fetch_stubs_and(
                [
                    {
                        LB: moment(date, Std.std_dt_format).format(Std.std_dt_format),
                        UB: moment(date, Std.std_dt_format).add(1, 'd').format(Std.std_dt_format)
                    }
                ],
                error_call_back,
                success_callback
            );
        }

        $(document).ready(function () {
            // references
            $middle = $('#middle');
            $time_table_div = $('#time-table-div');
            $time_divisions_div = $('#time-divisions-div');
            $time_hints_div = $('#time-hints-div');
            $event_stubs_div = $('#event-stubs-div');
            $task_stubs_div = $('#task-stubs-div');
            $scale_select = $('#scale-select');
            $date_select = $('#date-select');
            $date_select_div = $('#date-select-div');
            $cursor_bar = $('#cursor-bar');
            $cursor_bar_hint = $('#cursor-bar-hint');
            $present_bar = $('#present-bar');
            $present_bar_hint = $('#present-bar-hint');
            $stub_count = $('#stubs_count');
            $top_hint = $('#top-hint');
            $top_hint_div = $('#top-hint-div');
            $loading_timetable = $('#loading_timetable');
            $loading_detail = $('#loading_detail');
            $error_timetable = $('#error_timetable');
            $error_detail = $('#error_detail');
            $detail_div = $('#detail-div');
            $yesterday = $('#yesterday');
            $tomorrow = $('#tomorrow');
            $hues_div = $('#hues-div');
            $hues_toggle = $('#hues-toggle');
            $touch_piece = $('#touch-piece');

            // Event Listeners
            /**
             * Time Table
             * */
            $($event_stubs_div)
            // Scroll Sync for Time Divisions and Time Stubs
                .on(
                    'scroll',
                    function () {
                        $($time_divisions_div).scrollTop($(this).scrollTop());
                        $($time_hints_div).scrollTop($(this).scrollTop());
                        /**
                         * Un Comment Below if Timed Repr of Task Stubs is Used
                         * */
                        //$($task_stubs_div).scrollTop($(this).scrollTop());
                        Context.TimeTable.ScrollTop = $(this).scrollTop();
                        Context.TimeTable.ReloadTopFixedHint();
                    }
                );
            $($time_table_div)
            // Cursor - Cursor Bar Listener
                .on(
                    'mousemove',
                    '#event-stubs-div, #task-stubs-div',
                    function (e) {
                        render_cursor_hint_bar(e)
                    }
                )
                .on(
                    'click',
                    '#event-stubs-div, #task-stubs-div',
                    function (e) {
                        render_cursor_hint_bar(e)
                    }
                );
            /**
             * Date Select
             * */
            $($date_select)
                .on(
                    'change',
                    function () {
                        render_stubs_on($(this).val());
                    }
                );
            /**
             * Yesterday Tomorrow Listeners
             * */
            $($yesterday).on(
                'click',
                function () {
                    render_stubs_on(Context.TimeTable.Range.LB().add(-1, 'd').format(Std.std_dt_format));
                }
            );
            $($tomorrow).on(
                'click',
                function () {
                    render_stubs_on(Context.TimeTable.Range.LB().add(1, 'd').format(Std.std_dt_format));
                }
            );

            /**
             * Scale.Min_To_Px
             * */
            // Initializing
            $($scale_select).val(Context.TimeTable.Scale.PxToMin * 60); // hour px selection
            // Listening
            // Listening
            $($scale_select)
                .on(
                    'change',
                    function () {
                        Context.TimeTable.Scale.PxToMin = $(this).val() / 60;
                        reload();
                    }
                );
            /**
             * Hues Toggle
             * */
            // Initializing
            $($hues_toggle).prop('checked', Context.Hue.On); // hour px selection
            // Listening
            $($hues_toggle).click(function () {
                var hues_on = $(this).prop('checked');
                Context.Hue.On = hues_on;
                if (hues_on) {
                    $($time_divisions_div).find('.hue').fadeIn();
                }
                else {
                    $($time_divisions_div).find('.hue').fadeOut();
                }
            });
            /**
             * Detail Div
             * */
            $($time_table_div)
                .on(
                    'click',
                    '.stub',
                    function () {
                        var self = $(this);

                        var reset_touch_piece_btn = function (errand_pk) {
                            // Reset touch piece
                            $($touch_piece).attr('href', '/errands/touch/errand/' + errand_pk + '/');
                        };

                        var display_fetched_info = function (result) {
                            // Display the info about the selected Stub
                            result = JSON.parse(result);
                            // console.log(result);
                            // Reset touch btn
                            reset_touch_piece_btn(result.errand_pk);
                            // Piece Tag
                            $($detail_div).find('.piece-tag').html(result.tag);
                            // Piece Comment
                            $($detail_div).find('.piece-comment').html(result.comment);
                            // Errand Tag
                            $($detail_div).find('.errand-tag').html(result.errand_tag);
                            // Errand Comment
                            $($detail_div).find('.errand-comment').html(result.errand_comment);
                            // Time period && Duration
                            var duration = result.duration;
                            var duration_formatted = cast_to_hours_minutes(duration);
                            var time_period = result.time_period;
                            var time_period_formatted = cast_to_days_hours(time_period);
                            var type_of_stub = "";
                            if (duration.days == 0 && duration.seconds == 0) {
                                if (time_period.days == 0 && time_period.seconds == 0) {
                                    type_of_stub = "A One Time Task"
                                }
                                else {
                                    type_of_stub = "A Repeating Task";
                                    $($detail_div).find('.time_period').find('.column_1').html(time_period_formatted.days + ' days');
                                    $($detail_div).find('.time_period').find('.column_2').html(time_period_formatted.hours + ' hours');
                                    $($detail_div).find('.time_period').fadeIn(0);
                                }
                            }
                            else {
                                if (time_period.days == 0 && time_period.seconds == 0) {
                                    type_of_stub = "A One Time Event";
                                    $($detail_div).find('.duration').find('.column_1').html(duration_formatted.hours + ' hours');
                                    $($detail_div).find('.duration').find('.column_2').html(duration_formatted.minutes + ' minutes');
                                    $($detail_div).find('.duration').fadeIn(0);
                                }
                                else {
                                    type_of_stub = "A Repeating Event";
                                    $($detail_div).find('.duration').find('.column_1').html(duration_formatted.hours + ' hours');
                                    $($detail_div).find('.duration').find('.column_2').html(duration_formatted.minutes + ' minutes');
                                    $($detail_div).find('.time_period').find('.column_1').html(time_period_formatted.days + ' days');
                                    $($detail_div).find('.time_period').find('.column_2').html(time_period_formatted.hours + ' hours');
                                    $($detail_div).find('.duration').fadeIn(0);
                                    $($detail_div).find('.time_period').fadeIn(0);
                                }
                            }
                            $($detail_div).find('.type_of_stub').html(type_of_stub);
                            // Epoch
                            var epoch_date = result.epoch_date;
                            var epoch_time = result.epoch_time;
                            $($detail_div).find('.epoch-time').html(moment(epoch_time, Std.dj_t_format).format('hh:mm A'));
                            $($detail_div).find('.epoch-date').html(moment(epoch_date, Std.dj_d_format).format('MMM Do ddd'));
                            var end_date = result.end_date;
                            var end_time = result.end_time;
                            var $end = $($detail_div).find('.end');
                            // End
                            if (end_time != "") {
                                $($end).find('.time').html(moment(end_time, Std.dj_t_format).format('hh:mm A'));
                                $($end).fadeIn(0);
                            }
                            if (end_date != "") {
                                $($end).find('.date').html(moment(end_date, Std.dj_d_format).format('MMM Do ddd'));
                                $($end).fadeIn(0);
                            }
                            // Stub Details
                            var $this_stub = $($detail_div).find('.this-stub');
                            var time_iter = Context.TimeTable.Range.LB().add(self.attr("top_min"), "m");
                            $($this_stub).find('.start-time').html(time_iter.format('hh:mm A'));
                            $($this_stub).find('.start-date').html(time_iter.format('MMM Do ddd'));
                            time_iter.add(self.attr("height_min"), "m");
                            $($this_stub).find('.stop-time').html(time_iter.format('hh:mm A'));
                            $($this_stub).find('.stop-date').html(time_iter.format('MMM Do ddd'));
                        };

                        $($detail_div).modal('open');
                        $($loading_detail).fadeIn(0);
                        $($error_detail).fadeOut(0);
                        $.ajax({
                            url: '/errands/read/piece/' + $(self).attr('pk') + '/',
                            error: function () {
                                $($error_detail).fadeIn(0);
                                $($loading_detail).fadeOut(0);
                            },
                            success: function (result) {
                                display_fetched_info(result);
                                $($loading_detail).fadeOut(0);
                            }
                        })
                    }
                );
            // Showing today's time table
            render_stubs_on(Context.TimeTable.Range.LB().format(Std.std_dt_format));
        });
    </script>

    <div id="loading_timetable" class="block-screen" style="display: none">
        <div class="progress" style="position: absolute;top: 50%;width: 50%;left: 25%">
            <div class="indeterminate"></div>
        </div>
    </div>

    <div id="error_timetable" class="block-screen" style="display: none">
        <div class="center align">
            <h2 class="flow-text red-text">Snap! Error!</h2>
            <p class="teal-text message"></p>
            <a href="{% url 'time_table:scrolling_stubs' %}"
               class="btn-floating btn-large waves-effect waves-teal red white-text">
                <i class="material-icons">replay</i></a>
        </div>
    </div>

    <div class="row">

        <div class="col m0 l1 s0">

        </div>

        <div class="col s12 m12 l10" id="middle">
            <!-- Time Table -->
            <div id="time-table-div"
                 style="height: 100%;
                        position: relative;
                        padding: 0;
                        margin: 0"
                 class="row">

                <!-- Top Hint -->
                <div id="fixed-top">
                    <div class="row" style="margin: 0">
                        <div id="top-hint-div" class="col l8 m8 s8 waves-effect waves-yellow teal-text flow-text"
                             style="padding-top: 10px;padding-bottom: 10px;">
                            <span id="yesterday" style="padding-left: 10px;padding-right: 10px"
                                  class="waves-effect waves-yellow">
                                <i class="material-icons">fast_rewind</i></span>
                            <span id="top-hint">Today</span>
                            <span id="tomorrow" style="padding-left: 10px;padding-right: 10px"
                                  class="waves-effect waves-yellow">
                                <i class="material-icons">fast_forward</i></span>
                        </div>
                        <div class="col l4 m4 s4 waves-effect waves-light teal white-text flow-text"
                             style="padding-top: 10px;padding-bottom: 10px;">
                            <span id="stubs_count">0</span>
                            Stubs
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>

                <!-- Time Divisions -->
                <div id="time-divisions-div"
                     style="position: absolute;height: 100%;width: 100%;overflow: hidden;">
                    <!-- Hues -->
                    <div id="hues-div"></div>

                    <div id="present-bar"
                         style="position: absolute;
                                width: 100%;display: none">

                        <hr class="red" style="height: 2px;margin: 0;border: none">
                        <span id="present-bar-hint"
                              style="position:relative;left: 50px;"
                              class="blue-text"></span>
                    </div>

                    <div id="cursor-bar"
                         style="position: absolute;
                                width: 100%;">

                        <hr style="background-color: deeppink;height: 2px;margin: 0;border: none">
                        <span id="cursor-bar-hint"
                              style="position:fixed;"
                              class="right-align flow-text white"></span>
                    </div>
                </div>

                <!-- Event Stubs -->
                <div id="event-stubs-div"
                     style="position: absolute;height: 100%;width: 80%;overflow: auto"
                     class="row">

                    <hr class="stretcher">
                </div>

                <!-- Task Stubs -->
                <div id="task-stubs-div"
                     style="position: absolute;height: 100%;width: 20%;left: 80%;overflow-y:auto;overflow-x: auto;background-color: rgba(0,0,255,0.1)"
                     class="row">

                    <hr class="stretcher">
                </div>

                <!-- Time Divisions -->
                <div id="time-hints-div"
                     style="position: absolute;height: 100%;width: 50px;overflow: hidden;">

                </div>

            </div>
        </div>

        <div class="col m0 l1 s0">

            <div class="fixed-action-btn vertical">
                <a href="#settings-div" class="btn-floating btn-large blue z-depth-5"><i
                        class="material-icons">settings</i>
                </a>
            </div>

            <!-- Settings Div -->
            <div id="settings-div" class="modal bottom-sheet" style="min-height: 50vh;">
                <div class="modal-content row" style="margin: 0">
                    <h3>Settings</h3>
                    <div class="col l6 m6 s6">
                        <div>
                            <label>
                                Scale
                                <p class="range-field">
                                    <input type="range" id="scale-select" min="30" max="120"/>
                                </p>
                            </label>
                        </div>
                        <div id="date-select-div">
                            <label>
                                Jump To
                                <input id="date-select" type="date" class="date-picker">
                            </label>
                        </div>
                    </div>
                    <div class="col l3 m3 s3"></div>
                    <div class="col l3 m3 s3">
                        <div class="switch right-align">
                            <label>
                                Hues
                                <input id="hues-toggle" type="checkbox">
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Detail Div -->
            <div id="detail-div" class="modal modal-fixed-footer">
                <div id="loading_detail" class="block-screen" style="display: none">
                    <div class="progress" style="position: absolute;top: 50%;width: 50%;left: 25%">
                        <div class="indeterminate"></div>
                    </div>
                </div>
                <div id="error_detail" class="block-screen" style="display: none">
                    <div class="center align" style="padding-top: 20%">
                        <h2 class="flow-text red-text">Snap! Error!</h2>
                        <p class="teal-text message"></p>
                    </div>
                </div>

                <div class="modal-content">
                    <div class="row">
                        <!-- Stub Info -->
                        <div class="this-stub row">
                            <div class="row type_of_stub">Type</div>
                            <table class="highlight" style="cursor: pointer">
                                <tbody>
                                <tr class="teal-text">
                                    <td class="truncate">Starts at</td>
                                    <td class="start-time"></td>
                                    <td class="start-date"></td>
                                </tr>
                                <tr class="red-text">
                                    <td class="truncate">Stops at</td>
                                    <td class="stop-time"></td>
                                    <td class="stop-date"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="divider"></div>
                        <!-- Errand Family Info -->
                        <div class="col l4 m4 s12 row" style="margin-top: 20px">
                            <div class="truncate">
                                <div>Piece : <span class="piece-tag pink-text">Piece's Tag</span></div>
                                <div>
                                <textarea class="piece-comment grey lighten-4"
                                          disabled
                                          style="height: 100%;border: none;">
                                        Piece Comment
                                </textarea>
                                </div>
                                <div>Errand : <span class="errand-tag pink-text">Errand's Tag</span></div>
                                <div>
                                <textarea class="errand-comment grey lighten-4"
                                          disabled
                                          style="height: 100%;border: none;">
                                        Errand Comment
                                </textarea>
                                </div>
                            </div>
                        </div>
                        <!-- Date Time Info -->
                        <div class="col l8 m8 s12 row" style="margin: 0;">
                            <table class="highlight" style="cursor: pointer">
                                <tbody>
                                <tr class="teal-text">
                                    <td class="truncate">Epoch</td>
                                    <td class="epoch-time"></td>
                                    <td class="epoch-date"></td>
                                </tr>
                                <tr class="row time_period purple-text " style="display: none">
                                    <td class="truncate">Time Period</td>
                                    <td class="column_1"></td>
                                    <td class="column_2"></td>
                                </tr>
                                <tr class="row duration blue-text" style="display: none;">
                                    <td class=" truncate">Duration</td>
                                    <td class="column_1"></td>
                                    <td class="column_2"></td>
                                </tr>
                                <tr class="row end red-text" style="display: none;">
                                    <td class="truncate">End</td>
                                    <td class="time"></td>
                                    <td class="date"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer row waves-effect" style="margin: 0">
                    <a href="#"
                       style="margin-left: 5px"
                       class="modal-action modal-close waves-effect btn-flat grey-text">
                        <i
                                class="material-icons">close</i>
                    </a>
                    <a href="#"
                       id="touch-piece"
                       style="margin-left: 5px"
                       class="waves-effect  btn-flat orange-text">
                        <i class="material-icons">mode_edit</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}